In [49]:
import pandas as pd

In [50]:
df = pd.read_csv("spotify_millsongdata.csv")

In [51]:
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [52]:
df['text']

0        Look at her face, it's a wonderful face  \r\nA...
1        Take it easy with me, please  \r\nTouch me gen...
2        I'll never know why I had to go  \r\nWhy I had...
3        Making somebody happy is a question of give an...
4        Making somebody happy is a question of give an...
                               ...
57645    Irie days come on play  \r\nLet the angels fly...
57646    Power to the workers  \r\nMore power  \r\nPowe...
57647    all you need  \r\nis something i'll believe  \...
57648    northern star  \r\nam i frightened  \r\nwhere ...
57649    come in  \r\nmake yourself at home  \r\ni'm a ...
Name: text, Length: 57650, dtype: object

In [53]:
df.loc[0,'text']

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [54]:
df.shape

(57650, 4)

In [55]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [56]:
df

,artist,song,text
0,David Allan Coe,Tanya Montana,"Why the day you were born, girl \r\nYour mom ..."
1,Incognito,Pyramids,There's a sky in the east \r\nOver pyramids a...
2,Demi Lovato,This Is Me,I've always been the kind of girl \r\nThat hi...
3,Meat Loaf,Getting Away With Murder,She thought she had the only key \r\nShe thou...
4,Beach Boys,Back Home,Yeah yeah yeah \r\nWell I'm going back this s...
...,...,...,...
4995,Carpenters,Silent Night,Silent Night \r\nHoly Night \r\nAll is calm ...
4996,INXS,Elegantly Wasted,Look at all that shines \r\nBaby's down on th...
4997,Tiffany,Here In My Heart,Sometimes there's a time when you must say goo...
4998,Bonnie Raitt,I Need Love,I need love \r\nAnd I search it everyplace I ...
4999,Paul Simon,Bridge Over Troubled Waters,When you're weary \r\nFeeling small \r\nWhen...

In [57]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [58]:
df

,artist,song,text
0,David Allan Coe,Tanya Montana,"why the day you were born, girl \r your mom a..."
1,Incognito,Pyramids,there's a sky in the east \r over pyramids at...
2,Demi Lovato,This Is Me,i've always been the kind of girl \r that hid...
3,Meat Loaf,Getting Away With Murder,she thought she had the only key \r she thoug...
4,Beach Boys,Back Home,yeah yeah yeah \r well i'm going back this su...
...,...,...,...
4995,Carpenters,Silent Night,silent night \r holy night \r all is calm \...
4996,INXS,Elegantly Wasted,look at all that shines \r baby's down on the...
4997,Tiffany,Here In My Heart,sometimes there's a time when you must say goo...
4998,Bonnie Raitt,I Need Love,i need love \r and i search it everyplace i g...
4999,Paul Simon,Bridge Over Troubled Waters,when you're weary \r feeling small \r when t...

In [59]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [60]:
df.loc[0,'text']

"why the day you were born, girl  \r your mom and i named you, tanya montana  \r i just thought you should know  \r   \r your eyes were  \r as blue as the skies of montana  \r your skin was  \r as white as fresh falling snow  \r   \r tanya montana is some thing to see  \r a dream that came true for your mother and me  \r a small piece of heaven on earth as they say  \r but tanya montana is so far away  \r   \r why some day you're gonna grow up  \r and you're gonna leave us, sweet tanya  \r and some man will steal you  \r some man's gonna steal you away, i know  \r   \r but you know me and your momma  \r why we love you, montana  \r lord, it's going to break our hearts  \r when we see you go  \r   \r tanya montana has been on my mind  \r like the eagles that fly above reaching the light  \r searching for freedom, you'll find it some day  \r and then tanya montana will be so far away\r \r "

In [61]:
df.loc[0,'text']

"why the day you were born, girl  \r your mom and i named you, tanya montana  \r i just thought you should know  \r   \r your eyes were  \r as blue as the skies of montana  \r your skin was  \r as white as fresh falling snow  \r   \r tanya montana is some thing to see  \r a dream that came true for your mother and me  \r a small piece of heaven on earth as they say  \r but tanya montana is so far away  \r   \r why some day you're gonna grow up  \r and you're gonna leave us, sweet tanya  \r and some man will steal you  \r some man's gonna steal you away, i know  \r   \r but you know me and your momma  \r why we love you, montana  \r lord, it's going to break our hearts  \r when we see you go  \r   \r tanya montana has been on my mind  \r like the eagles that fly above reaching the light  \r searching for freedom, you'll find it some day  \r and then tanya montana will be so far away\r \r "

In [62]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\r', ' ', regex = True)

In [63]:
df.loc[0,'text']

"why the day you were born, girl    your mom and i named you, tanya montana    i just thought you should know        your eyes were    as blue as the skies of montana    your skin was    as white as fresh falling snow        tanya montana is some thing to see    a dream that came true for your mother and me    a small piece of heaven on earth as they say    but tanya montana is so far away        why some day you're gonna grow up    and you're gonna leave us, sweet tanya    and some man will steal you    some man's gonna steal you away, i know        but you know me and your momma    why we love you, montana    lord, it's going to break our hearts    when we see you go        tanya montana has been on my mind    like the eagles that fly above reaching the light    searching for freedom, you'll find it some day    and then tanya montana will be so far away    "

In [64]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [67]:
similarity[0]

array([1.        , 0.00841834, 0.05709896, ..., 0.06999556, 0.04400553,
       0.01596303])

In [84]:
df[df['artist'] == 'Taylor Swift']

,artist,song,text
858,Taylor Swift,Last Christmas,last christmas i gave you my heart but the ...
1281,Taylor Swift,Our Song,i was riding shotgun with my hair undone in th...
1814,Taylor Swift,Everything Has Changed,all i knew this morning when i woke is i kn...
2411,Taylor Swift,Red,loving him is like driving a new maserati down...
3260,Taylor Swift,Crazier,"i've never gone with the wind, just let it flo..."

In [77]:
df

,artist,song,text
0,David Allan Coe,Tanya Montana,"why the day you were born, girl your mom an..."
1,Incognito,Pyramids,there's a sky in the east over pyramids at ...
2,Demi Lovato,This Is Me,i've always been the kind of girl that hid ...
3,Meat Loaf,Getting Away With Murder,she thought she had the only key she though...
4,Beach Boys,Back Home,yeah yeah yeah well i'm going back this sum...
...,...,...,...
4995,Carpenters,Silent Night,silent night holy night all is calm a...
4996,INXS,Elegantly Wasted,look at all that shines baby's down on the ...
4997,Tiffany,Here In My Heart,sometimes there's a time when you must say goo...
4998,Bonnie Raitt,I Need Love,i need love and i search it everyplace i go...
4999,Paul Simon,Bridge Over Troubled Waters,when you're weary feeling small when tea...

In [73]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [85]:
recommendation('Last Christmas')

['Please Come Home For Christmas',
 'December Song (I Dreamed Of Christmas)',
 'Christmas Everyday',
 'If I Gave You My Heart',
 "Christmas Won't Be The Same This Year",
 'Happy Xmas',
 'All I Want Is You',
 'Christmas Wish',
 'Home On Christmas Day',
 'Christmas Through Your Eyes',
 'Yule Shoot Your Eye Out',
 'On Christmas Morning',
 'Blue Christmas',
 'The Night Before Christmas',
 'Save This Dance For Me',
 'Christmas Island',
 'So This Is Christmas',
 'I Gave It Up (When I Fell In Love)',
 'Christmas Is',
 'Christmas Island']